[user]
	name = Huang Xing
	email = huangxing567@163.com
[core]
	editor = vim
[credential]
	helper = store
[http]
	postBuffer = 104857600
[alias]
	co = checkout
	st = status
	cm = commit
	cs = commit -s
	dif = diff
	pl = pull
	ps = push
	lg = "log --oneline --graph --pretty=format:\"%C(yellow)%h %Cred[%an]%Creset %Cblue[%ad]%Creset %s %Cgreen(%cr)%Cred%d\" --date=format:'%Y-%m-%d %H:%M:%S' -n 30"
